# Virtual environments
.venv/
venv/

# Environment variable files
.env
.env.*

# Allow sample .env file
!.env.example

# Python bytecode/cache
__pycache__/
*.py[cod]
*.pyo
*.pyc

# IDE/editor settings
.vscode/
.idea/

# Jupyter & logs
*.ipynb_checkpoints
*.log

# OS-specific metadata
.DS_Store
Thumbs.db
