# Python virtual environment
venv/
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# VSCode and PyCharm settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter and logs
*.ipynb_checkpoints
*.log

# Deployment artifacts
*.env.*
.env.*
